/*-------------------------------------------------------font include----------------------------------------------------------------*/

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.eot');
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg'),
       url('../fonts/Montserrat-Light.ttf') format('truetype'),
       url('../fonts/Montserrat-Light.woff') format('woff'),
       url('../fonts/Montserrat-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
       url('../fonts/Montserrat-Regular.ttf') format('truetype'),
       url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat-Medium.eot');
  src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg'),
       url('../fonts/Montserrat-Medium.ttf') format('truetype'),
       url('../fonts/Montserrat-Medium.woff') format('woff'),
       url('../fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold.eot');
  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg'),
       url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
       url('../fonts/Montserrat-SemiBold.woff') format('woff'),
       url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
       url('../fonts/Montserrat-Bold.ttf') format('truetype'),
       url('../fonts/Montserrat-Bold.woff') format('woff'),
       url('../fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neosoft';
  src:  url('../fonts/neosoft.eot?b9si5o');
  src:  url('../fonts/neosoft.eot?b9si5o#iefix') format('embedded-opentype'),
    url('../fonts/neosoft.ttf?b9si5o') format('truetype'),
    url('../fonts/neosoft.woff?b9si5o') format('woff'),
    url('../fonts/neosoft.svg?b9si5o#neosoft') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'neosoft' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e907";
}
.icon-linked:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e909";
}
.icon-quality:before {
  content: "\e905";
}
.icon-support:before {
  content: "\e906";
}
.icon-agile:before {
  content: "\e900";
}
.icon-belt:before {
  content: "\e901";
}
.icon-mobile:before {
  content: "\e902";
}
.icon-tablet:before {
  content: "\e903";
}
.icon-watch:before {
  content: "\e904";
}

h1,h2,h3,h4,h5,h6 { font-weight: normal; }

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;		
	list-style-type: none;
	text-decoration: none;
	outline: none;
}

figure {
  margin: 0;
}

img {
  width: 100%;
}

a, button  { 
  cursor: pointer; 
  text-decoration: none;
  color: #000;
}

ul {
  margin: 0;
}

a:hover {
  color: unset;
  text-decoration: none;
}

.container {
	max-width: 1140px;
	padding: 0;
	margin: 0 auto;
}

.btn_effect:active {
  transform: translateY(4px);
}

body {
  /*background-color: #6b4262;*/
  font-family: Montserrat-Regular;
}

.header {
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
}

.header_wrapper {
  padding: 27px 0;
  display: flex;
}

.header .logo {
  margin-right: auto;
}

.navbar-toggler {
  display: none;
  border: 0;
} 

.bar:after {
    content: "";
    background-color: #fff;
    width: 20px;
    height: 3px;
    margin: -2px 0;
    display: block;
}

.bar.short:after {
  width: 30px;
  margin: 8px auto;
}

.header .navbar  {
  margin-left: auto;
}

.navbar .nav_item {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid transparent;
  transition-duration: 0.3s;
}

.nav_item .nav_link {
  color: #fff;
  font-family: Montserrat-Medium;
  font-size: 18px;
  text-transform: uppercase;
}

.nav_item:hover {
  border: 1px solid #fff;
  border-radius: 50px;
}

.banner {
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: -203px 0 150px;
  transform: skew(0deg, 12deg);
} 

.banner_wrapper {
  /*position: relative;*/
  /*height: 864px;*/
  transform: skew(0deg, -12deg);
  padding: 385px 0 100px;
}

.banner_inner {
  margin: 0 auto;
  /*padding-top: 160px;*/
  z-index: 1;
  position: relative;
  display: flex;
}

.banner .description {
  margin-left: auto;
  width: 72%;
}

.banner .design {
  position: absolute;
  left: -170px;
}

.banner .banner_title {
  position: relative;
  padding-left: 365px;
}

.banner .banner_title:after {
  content: "";
  background: url("../images/partition.png") no-repeat;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.app_number {
  font-family: Montserrat-Light;
  font-size: 33px;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  max-width: 259px;
  padding: 0 0 20px;  
}

.app_number span {
  display: block;
  line-height: 1;
}

.app_number .value {
  font-size: 83px;
  font-family: Montserrat-Bold;
  color: #ffcf11;
  display: block;  
}

.design_head {
  font-size: 60px;
  color: #fff;
  font-family: Montserrat-Bold;
  text-transform: uppercase;
  margin: 20px 0 60px;
}

.design_head span {
  line-height: 1;
}

.banner .banner_details {
    padding-left: 365px;
}

.banner .quote_btn {
  width: 234px;
}

.shake {
  animation: shake linear 1s;
  animation-iteration-count: 2;
  transform-origin: 50% 50%;
  -webkit-animation: shake linear 1s;
  -webkit-animation-iteration-count: 2;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: shake linear 1s;
  -moz-animation-iteration-count: 2;
  -moz-transform-origin: 50% 50%;
  -o-animation: shake linear 1s;
  -o-animation-iteration-count: 2;
  -o-transform-origin: 50% 50%;
  -ms-animation: shake linear 1s;
  -ms-animation-iteration-count: 2;
  -ms-transform-origin: 50% 50%;
}

@keyframes shake{
  0% {
    transform:  translate(0px,0px)  ;
  }
  10% {
    transform:  translate(-2px,0px)  ;
  }
  20% {
    transform:  translate(2px,0px)  ;
  }
  30% {
    transform:  translate(-2px,0px)  ;
  }
  40% {
    transform:  translate(2px,0px)  ;
  }
  50% {
    transform:  translate(-2px,0px)  ;
  }
  60% {
    transform:  translate(2px,0px)  ;
  }
  70% {
    transform:  translate(-2px,0px)  ;
  }
  80% {
    transform:  translate(2px,0px)  ;
  }
  90% {
    transform:  translate(-2px,0px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes shake{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  10% {
    -moz-transform:  translate(-2px,0px)  ;
  }
  20% {
    -moz-transform:  translate(2px,0px)  ;
  }
  30% {
    -moz-transform:  translate(-2px,0px)  ;
  }
  40% {
    -moz-transform:  translate(2px,0px)  ;
  }
  50% {
    -moz-transform:  translate(-2px,0px)  ;
  }
  60% {
    -moz-transform:  translate(2px,0px)  ;
  }
  70% {
    -moz-transform:  translate(-2px,0px)  ;
  }
  80% {
    -moz-transform:  translate(2px,0px)  ;
  }
  90% {
    -moz-transform:  translate(-2px,0px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  10% {
    -webkit-transform:  translate(-2px,0px)  ;
  }
  20% {
    -webkit-transform:  translate(2px,0px)  ;
  }
  30% {
    -webkit-transform:  translate(-2px,0px)  ;
  }
  40% {
    -webkit-transform:  translate(2px,0px)  ;
  }
  50% {
    -webkit-transform:  translate(-2px,0px)  ;
  }
  60% {
    -webkit-transform:  translate(2px,0px)  ;
  }
  70% {
    -webkit-transform:  translate(-2px,0px)  ;
  }
  80% {
    -webkit-transform:  translate(2px,0px)  ;
  }
  90% {
    -webkit-transform:  translate(-2px,0px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes shake {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  10% {
    -o-transform:  translate(-2px,0px)  ;
  }
  20% {
    -o-transform:  translate(2px,0px)  ;
  }
  30% {
    -o-transform:  translate(-2px,0px)  ;
  }
  40% {
    -o-transform:  translate(2px,0px)  ;
  }
  50% {
    -o-transform:  translate(-2px,0px)  ;
  }
  60% {
    -o-transform:  translate(2px,0px)  ;
  }
  70% {
    -o-transform:  translate(-2px,0px)  ;
  }
  80% {
    -o-transform:  translate(2px,0px)  ;
  }
  90% {
    -o-transform:  translate(-2px,0px)  ;
  }
  100% {
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes shake {
  0% {
    -ms-transform:  translate(0px,0px)  ;
  }
  10% {
    -ms-transform:  translate(-2px,0px)  ;
  }
  20% {
    -ms-transform:  translate(2px,0px)  ;
  }
  30% {
    -ms-transform:  translate(-2px,0px)  ;
  }
  40% {
    -ms-transform:  translate(2px,0px)  ;
  }
  50% {
    -ms-transform:  translate(-2px,0px)  ;
  }
  60% {
    -ms-transform:  translate(2px,0px)  ;
  }
  70% {
    -ms-transform:  translate(-2px,0px)  ;
  }
  80% {
    -ms-transform:  translate(2px,0px)  ;
  }
  90% {
    -ms-transform:  translate(-2px,0px)  ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  ;
  }
}


.banner .get_quote {
  width: 100%;
  padding: 15px 0;
  border: none;
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  -webkit-box-shadow: 0 30px 32px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 30px 32px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.2);
}

.banner .quote {
  font-size: 24px;
  font-family: Montserrat-SemiBold;
  text-transform: uppercase;
}

.button_primary,
.button_secondary {
    background: rgba(243,48,80,1);
  background: -moz-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,48,80,1)), color-stop(100%, rgba(246,70,35,1)));
  background: -webkit-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  background: -o-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  background: -ms-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  background: linear-gradient(to right, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f33050', endColorstr='#f64623', GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button_primary {
   -webkit-background-clip: initial;
  -webkit-text-fill-color: #fff; 
}

.growth {
  position: relative;
  z-index: 1;
}

.growth_wrapper {
  display: flex;
  padding: 25px 0;
}

.growth .description, 
.growth .platforms {
  width: 50%;
}

.growth .growth_head {
  font-size: 44px;
  font-family: Montserrat-Regular;
  color: #292a2f;
  font-weight: normal;
  margin: 0 0 25px;
  max-width: 450px;
}

.growth .growth_head span {
  color: #de242f;
}

.growth .description .details {
  font-family: Montserrat-Medium;
  color: #292a2f;
  font-size: 18px;
  margin: 0 0 25px;
  line-height: 1.7;
}

.growth .description .get_started {
      /* -webkit-box-shadow: 0 30px 32px rgba(0, 0, 0, 0.2); */
    -moz-box-shadow: 0 30px 32px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.2);
  margin: 25px 0 0;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 47px;
  border: none;
  border-radius: 35px;
}

.growth .platforms {
  text-align: right;
}

.growth .platform_wrapper {
  margin-top: 10px;
}

.platforms .platform_wrapper .platforms_logo {
  display: inline-block;
  width: 154px;
  margin-left: 25px;
}

.why_us {
  padding: 100px 0 50px;
}

.why_us_header {
  position: relative;
  margin-bottom: 30px;
}

.why_us_header .why_head {
  color: #ededed;
  font-size: 152px;
  text-transform: uppercase;
  font-family: Montserrat-Bold;
  text-align: center;
}

.why_sub_head {
  color: #292a2f;
  font-size: 44px;
  text-align: center;
  text-transform: capitalize;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}


.features .feature_list {
  display: flex;
}

.features .feature_card {
  box-shadow: 0 0 21px rgba(16, 16, 16, 0.1);
  max-width: 360px;
  margin-right: 30px;
  padding: 60px 35px;
  opacity: 1;
}

.fadeIn {
-webkit-animation-name: fadeIn; /* Safari 4.0 - 8.0 */
-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
animation-name: fadeIn;
animation-duration: 4s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.feature_card:last-child {
  margin-right: 0;
}

.features .feature_image {
  display: flex;
  justify-content: center;
}

.feature_card .feature_image .feature_icon {
  font-size: 100px;
  text-align: center;
  background: linear-gradient(to right, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f33050', endColorstr='#f64623', GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card_wrapper {
  text-align: center;
}

.feature_card .feature_head {
  margin: 35px auto;
  /*width: 200px;*/
  font-size: 28px;
  color: #292a2f;
  text-transform: capitalize;
}

.feature_card .feature_detail {
  font-size: 14px;
  font-family: Montserrat-Medium;
  color: #292a2f;
  line-height: 1.7;
}

.ios {
  background: url(../images/transparentBackground.png) #1c1c1d;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  transform: skew(0deg, 12deg);
  margin: 200px 0;
}

.ios_inner {
  /*padding-top: 200px;*/
  transform: skew(0deg, -12deg);
}

.ios_wrapper {
  padding: 50px 0;
  display: flex;
}

.ios_description,
.ios_mockups {
  width: 60%;
}

.ios_description {
  position: relative;
  z-index: 2;
  padding: 35px 0 153px;
}

.ios .get_quote {
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  -webkit-box-shadow: 0 30px 32px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 30px 32px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 15px 0;
  text-transform: uppercase;
}

.ios_mockups {
  position: relative;
  z-index: 2;
  width: 59%;
}

.moveDown {
  animation: moveDown 4s 1, swing1 6s infinite;
}

@keyframes moveDown {
  0% { bottom: 100%; }
  100% { bottom: 35%; }
}

.swing1 {
  animation: swing1 linear 6s;
  animation-iteration-count: infinite;
  /*transform-origin: 50% 50%;*/
  -webkit-animation: swing1 linear 6s;
  -webkit-animation-iteration-count: infinite;
  /*-webkit-transform-origin: 50% 50%;*/
  -moz-animation: swing1 linear 6s;
  -moz-animation-iteration-count: infinite;
  /*-moz-transform-origin: 50% 50%;*/
  -o-animation: swing1 linear 6s;
  -o-animation-iteration-count: infinite;
  /*-o-transform-origin: 50% 50%;*/
  -ms-animation: swing1 linear 6s;
  -ms-animation-iteration-count: infinite;
  /*-ms-transform-origin: 50% 50%;*/
}

@keyframes swing1 {
  0% {
    transform:  translate(0px,0px)  ;
  }
  10% {
    transform:  translate(0px,-2px)  ;
  }
  20% {
    transform:  translate(0px,2px)  ;
  }
  30% {
    transform:  translate(0px,-2px)  ;
  }
  40% {
    transform:  translate(0px,2px)  ;
  }
  50% {
    transform:  translate(0px,-2px)  ;
  }
  60% {
    transform:  translate(0px,2px)  ;
  }
  70% {
    transform:  translate(0px,-2px)  ;
  }
  80% {
    transform:  translate(0px,2px)  ;
  }
  90% {
    transform:  translate(0px,-2px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes swing1 {
  0% {
    transform:  translate(0px,0px)  ;
  }
  10% {
    transform:  translate(0px,-2px)  ;
  }
  20% {
    transform:  translate(0px,2px)  ;
  }
  30% {
    transform:  translate(0px,-2px)  ;
  }
  40% {
    transform:  translate(0px,2px)  ;
  }
  50% {
    transform:  translate(0px,-2px)  ;
  }
  60% {
    transform:  translate(0px,2px)  ;
  }
  70% {
    transform:  translate(0px,-2px)  ;
  }
  80% {
    transform:  translate(0px,2px)  ;
  }
  90% {
    transform:  translate(0px,-2px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes swing1 {
  0% {
    transform:  translate(0px,0px)  ;
  }
  10% {
    transform:  translate(0px,-2px)  ;
  }
  20% {
    transform:  translate(0px,2px)  ;
  }
  30% {
    transform:  translate(0px,-2px)  ;
  }
  40% {
    transform:  translate(0px,2px)  ;
  }
  50% {
    transform:  translate(0px,-2px)  ;
  }
  60% {
    transform:  translate(0px,2px)  ;
  }
  70% {
    transform:  translate(0px,-2px)  ;
  }
  80% {
    transform:  translate(0px,2px)  ;
  }
  90% {
    transform:  translate(0px,-2px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes swing1 {
  0% {
    transform:  translate(0px,0px)  ;
  }
  10% {
    transform:  translate(0px,-2px)  ;
  }
  20% {
    transform:  translate(0px,2px)  ;
  }
  30% {
    transform:  translate(0px,-2px)  ;
  }
  40% {
    transform:  translate(0px,2px)  ;
  }
  50% {
    transform:  translate(0px,-2px)  ;
  }
  60% {
    transform:  translate(0px,2px)  ;
  }
  70% {
    transform:  translate(0px,-2px)  ;
  }
  80% {
    transform:  translate(0px,2px)  ;
  }
  90% {
    transform:  translate(0px,-2px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes swing1 {
  0% {
    transform:  translate(0px,0px)  ;
  }
  10% {
    transform:  translate(0px,-2px)  ;
  }
  20% {
    transform:  translate(0px,2px)  ;
  }
  30% {
    transform:  translate(0px,-2px)  ;
  }
  40% {
    transform:  translate(0px,2px)  ;
  }
  50% {
    transform:  translate(0px,-2px)  ;
  }
  60% {
    transform:  translate(0px,2px)  ;
  }
  70% {
    transform:  translate(0px,-2px)  ;
  }
  80% {
    transform:  translate(0px,2px)  ;
  }
  90% {
    transform:  translate(0px,-2px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}



.moveUp {
  animation: moveUp 4s 1, swing2 6s infinite;
}

@keyframes moveUp {
  0% { top: 100%; }
  100% { top: 28%; }
}


.swing2 {
  animation: swing2 linear 6s;
  animation-iteration-count: infinite;
  /*transform-origin: 50% 50%;*/
  -webkit-animation: swing2 linear 6s;
  -webkit-animation-iteration-count: infinite;
  /*-webkit-transform-origin: 50% 50%;*/
  -moz-animation: swing2 linear 6s;
  -moz-animation-iteration-count: infinite;
  /*-moz-transform-origin: 50% 50%;*/
  -o-animation: swing2 linear 6s;
  -o-animation-iteration-count: infinite;
  /*-o-transform-origin: 50% 50%;*/
  -ms-animation: swing2 linear 6s;
  -ms-animation-iteration-count: infinite;
  /*-ms-transform-origin: 50% 50%;*/
}

@keyframes swing2 {
  0% {
    transform:  translate(0px,-2px)  ;
  }
  10% {
    transform:  translate(0px,2px)  ;
  }
  20% {
    transform:  translate(0px,-2px)  ;
  }
  30% {
    transform:  translate(0px,2px)  ;
  }
  40% {
    transform:  translate(0px,-2px)  ;
  }
  50% {
    transform:  translate(0px,2px)  ;
  }
  60% {
    transform:  translate(0px,-2px)  ;
  }
  70% {
    transform:  translate(0px,2px)  ;
  }
  80% {
    transform:  translate(0px,-2px)  ;
  }
  90% {
    transform:  translate(0px,2px)  ;
  }
  100% {
    transform:  translate(0px,-2px)  ;
  }
}

@-moz-keyframes swing2 {
  0% {
    transform:  translate(0px,-2px)  ;
  }
  10% {
    transform:  translate(0px,2px)  ;
  }
  20% {
    transform:  translate(0px,-2px)  ;
  }
  30% {
    transform:  translate(0px,2px)  ;
  }
  40% {
    transform:  translate(0px,-2px)  ;
  }
  50% {
    transform:  translate(0px,2px)  ;
  }
  60% {
    transform:  translate(0px,-2px)  ;
  }
  70% {
    transform:  translate(0px,2px)  ;
  }
  80% {
    transform:  translate(0px,-2px)  ;
  }
  90% {
    transform:  translate(0px,2px)  ;
  }
  100% {
    transform:  translate(0px,-2px)  ;
  }
}

@-webkit-keyframes swing2 {
  0% {
    transform:  translate(0px,-2px)  ;
  }
  10% {
    transform:  translate(0px,2px)  ;
  }
  20% {
    transform:  translate(0px,-2px)  ;
  }
  30% {
    transform:  translate(0px,2px)  ;
  }
  40% {
    transform:  translate(0px,-2px)  ;
  }
  50% {
    transform:  translate(0px,2px)  ;
  }
  60% {
    transform:  translate(0px,-2px)  ;
  }
  70% {
    transform:  translate(0px,2px)  ;
  }
  80% {
    transform:  translate(0px,-2px)  ;
  }
  90% {
    transform:  translate(0px,2px)  ;
  }
  100% {
    transform:  translate(0px,-2px)  ;
  }
}

@-o-keyframes swing2 {
  0% {
    transform:  translate(0px,-2px)  ;
  }
  10% {
    transform:  translate(0px,2px)  ;
  }
  20% {
    transform:  translate(0px,-2px)  ;
  }
  30% {
    transform:  translate(0px,2px)  ;
  }
  40% {
    transform:  translate(0px,-2px)  ;
  }
  50% {
    transform:  translate(0px,2px)  ;
  }
  60% {
    transform:  translate(0px,-2px)  ;
  }
  70% {
    transform:  translate(0px,2px)  ;
  }
  80% {
    transform:  translate(0px,-2px)  ;
  }
  90% {
    transform:  translate(0px,2px)  ;
  }
  100% {
    transform:  translate(0px,-2px)  ;
  }
}

@-ms-keyframes swing2 {
  0% {
    transform:  translate(0px,-2px)  ;
  }
  10% {
    transform:  translate(0px,2px)  ;
  }
  20% {
    transform:  translate(0px,-2px)  ;
  }
  30% {
    transform:  translate(0px,2px)  ;
  }
  40% {
    transform:  translate(0px,-2px)  ;
  }
  50% {
    transform:  translate(0px,2px)  ;
  }
  60% {
    transform:  translate(0px,-2px)  ;
  }
  70% {
    transform:  translate(0px,2px)  ;
  }
  80% {
    transform:  translate(0px,-2px)  ;
  }
  90% {
    transform:  translate(0px,2px)  ;
  }
  100% {
    transform:  translate(0px,-2px)  ;
  }
}

.ios .ios_description .ios_image {
  width: 205px;
}

.ios_head {
  font-size: 52px;
  color: #fff;
  padding: 70px 0 35px;
}

.ios_details {
  color: #fff;
  font-size: 18px;
  line-height: 1.7;
}

.ios_wrapper .quote {
  padding: 15px 47px;
  font-size: 15px;
}

.ios_wrapper .get_quote {
  margin: 62px 0;
}


.mockup_image.mockup1 {
  position: absolute;
  bottom: 35%;
  left: -12%;
}

.mockup_image.mockup2 {
  position: absolute;
  right: 0;
  top: 28%;
}

.android .android_image {
  width: 160px;
}

.android_wrapper {
  position: relative;
  display: flex;
}

.android_mockups {
  position: absolute;
  top: -100px;
  left: -12%;
}

.android_mockups,
.android_description {
  width: 53%;
}

/*.pop {
  animation-name: pop;
  animation-duration: 1s;
}

@keyframes pop {
  0% { width: 40%; }
  100% { width: 100%;}
}*/

.android_description {
  padding-left: 10%;
  width: 57%;
  margin-left: auto;
}

.android_head {
  font-size: 48px;
  color: #000;
  padding: 40px 0;
  font-family: Montserrat-Regular;
}

.android_details {
  color: #000;
  font-size: 18px;
  font-family: Montserrat-Medium;
  line-height: 1.7;
}

.android_description .quote {
  margin: 0;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 47px;
  border: none;
  border-radius: 35px;
  /* -webkit-box-shadow: 0 30px 32px rgba(0, 0, 0, 0.2); */
  -moz-box-shadow: 0 30px 32px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.2);
}

.android_wrapper .get_quote {
  margin: 62px 0;
}

.products {
  padding: 200px 0 0;
  text-align: center;
}

.products .product_tabs {
  margin: 0 0 8%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.products .product_tab {  
  position: relative;
  border-bottom: 2px solid rgba(0,0,0,0.2);
}

.products .product_tab:hover {
  transition-duration: 7s;
}

.products .device_tab:hover:after,
.products .device_tab.active:after {
  content: "";
  background: rgba(243,48,80,1);
  background: -moz-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,48,80,1)), color-stop(100%, rgba(246,70,35,1)));
  background: -webkit-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  background: -o-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  background: -ms-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  background: linear-gradient(to right, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f33050', endColorstr='#f64623', GradientType=1 );
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom:-2px;
}

.products .product_tab:hover .device_tab .icon,
.products .product_tab .device_tab.active .icon {
      background: rgba(243,48,80,1);
  background: -moz-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,48,80,1)), color-stop(100%, rgba(246,70,35,1)));
  background: -webkit-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  background: -o-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  background: -ms-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  background: linear-gradient(to right, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f33050', endColorstr='#f64623', GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}

.products .device_tab {
  background: transparent;
  border: none;
  display: block;
  padding: 30px 60px;
}

.device_tab .icon-mobile {
  font-size: 58px;
}

.device_tab .icon-tablet {
  font-size: 45px;
}

.device_tab .icon-watch {
  font-size: 60px;
}

.device_tab .icon-belt {
  font-size: 35px;
}

.products .device_wrapper {
  display: flex;
}

.products .device .description,
.products .device .product_image {
  width: 45%;
  text-align: left;
  margin-left: 6%;
}

.device .product_image {
  margin-left: auto;
}

.products .device .description {
  padding: 60px 0 0;
  width: 43%;
}

.products .device .tab_head {
  text-transform: capitalize;
  font-size: 44px;
  font-family: Montserrat-Regular;
  font-weight: normal;
  margin: 25px 0;
}

.products .device .details {
  color: #292a2f;
  font-size: 18px;
  margin: 25px 0;
  font-family: Montserrat-Medium;
  line-height: 1.7;
}

.products .device .get_started {
        /* -webkit-box-shadow: 0 30px 32px rgba(0, 0, 0, 0.2); */
    -moz-box-shadow: 0 30px 32px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.2);
  margin: 25px 0;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 47px;
  border: none;
  border-radius: 35px;
}

.about {
  background-image: url(../images/about_us_back.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 85px 0;
  margin: 50px 0;
}

.about .description .about_head {
  color: #fff;
  font-size: 44px;
  text-transform: capitalize;
}

.about .description .details {
  padding: 30px 69px;
  font-size: 18px;
  color: #fff;
  font-family: Montserrat-Light;
  line-height: 1.7;
}

.about .data {
  margin: 30px 0;
}

.about .record {
  color: #fff;
  font-size: 22px;
  display: inline-block;
  border-right: 1px solid #fff;
  padding: 20px 40px;
}

.about .record:last-child {
  border: none;
}

.about .record .number,
.record .num {
  font-size: 78px;
  font-family: Montserrat-Bold;
}

.clients {
  padding: 50px 0 70px;
}

.clients .client_head {
  font-size: 44px;
  text-align: center;
  padding-bottom: 35px;
  margin-bottom: 60px;
  position: relative;
}

.clients .client_head:after {
  content: "";
  background: rgba(243,48,80,1);
  background: -moz-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,48,80,1)), color-stop(100%, rgba(246,70,35,1)));
  background: -webkit-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  background: -o-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  background: -ms-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  background: linear-gradient(to right, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f33050', endColorstr='#f64623', GradientType=1 );
  width: 14%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.clients .client_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clients .client_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 170px;
  padding: 50px 46px;
  border-right: 1px solid #cccccc82;
  border-bottom: 1px solid #cccccc82;
  text-align: center;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition-duration: 0.3s;
}

.clients .client_logo:hover {
  -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
  filter: grayscale(0);
}

.clients .client_logo img {
  width: auto;
}

.clients .client_logo:nth-of-type(5n) {
  border-right: none;
}

.clients .client_logo:nth-child(1n+11) {
    border-bottom: none;
}

.contact {
  background-color: #f7f7f7;
  padding: 100px 0 10px;
}

.contact_inner {
  position: relative;
  height: 455px;
}

.contact .contact_wrapper {
  position: relative;
  z-index: 1;
  display: flex;
}

.contact .contact_head {
  font-size: 44px;
  color: #000;
}

.contact .description,
.contact .message {
  width: 41.5%;
}

.contact .description .details {
  padding: 40px 0 30px;
  font-size: 18px;
  color: #000;
  font-family: Montserrat-Medium;
  line-height: 1.7;
}

.contact .address,
.contact .phone,
.contact .mail {
  padding: 10px 0;
  font-size: 18px;
  font-family: Montserrat-SemiBold;
}

.contact .address {
  line-height: 1.7;
}

.contact .label {
  font-size: 18px;
  color: #000;
  text-transform: capitalize;
  font-family: Montserrat-Bold;
}

.contact .sender_info .label,
.contact .message .label {
  font-family: Montserrat-Medium;
}

.contact .message {
  width: 50%;
  margin-left: auto;
}

.contact .sender_info_wrapper {
  display: flex;
}

.contact .message .sender_info {
  width: 45%;
  padding-bottom: 25px;
}

.sender_info_wrapper .sender_info:first-child {
  margin-right: 55px;
}

.contact .input {
  width: 100%;
  margin: 20px 0;
  padding: 12px 10px;
  font-size: 18px;
  border: none;
}

.contact .message_input .input {
  height: 189px;
  resize: none;
}

.contact .get_started {
        /* -webkit-box-shadow: 0 30px 32px rgba(0, 0, 0, 0.2); */
    -moz-box-shadow: 0 30px 32px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.2);
  margin: 30px 0;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 47px;
  border: none;
  border-radius: 35px;
}

footer {
  background-image: url("../images/footerBackground.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*height: 700px;*/
  color: #fff;
  text-align: center;
  padding: 311px 0 90px;
  position: relative;
}

footer:after {
  content: "";
  background: #f7f7f7;
  height: 315px;
  width: 100%;
  position: absolute;
  top: -313px;
  left: 0;
  transform: skew(0, 12deg);
  transform-origin: 0 0;
}

.footer_inner {
  position: relative;
}

.footer_inner:after {
  content: "";
  background: #f7f7f7;
  height: 96px;
  width: 100%;
  position: absolute;
  top: -445px;
  left: 0;
  transform: skew(0, 4deg);
  transform-origin: 0 0;
}

.subscribe_head {
  font-size: 29px;
  font-family: Montserrat-Bold;
  padding: 40px 0;
}

.subscribe_inner .newsletter {
  width: 53%;
  margin: 0 auto;
  display: flex;
}

.subscribe_inner .email_input {
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 20px;
  border-right: none;
  width: 86%;
}

.subscribe_inner .email_input::placeholder {
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
}

.subscribe_inner .social {
  padding: 40px 0;
}

.subscribe_inner .submit_btn {
  border: none;
  padding: 10px;
  height: 60px;
  width: 73px;
  margin-left: 15px;
  border-radius: 3px;
}

.subscribe_inner .submit_btn img {
  width: auto;
}

.subscribe_inner .social_icon {
  width: 21px;
  display: inline-block;
  margin-right: 30px;  
}

footer .icon_media {
  font-size: 21px;
  color: #fff;
}

footer .icon_media:hover {
      background: rgba(243,48,80,1);
  background: -moz-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,48,80,1)), color-stop(100%, rgba(246,70,35,1)));
  background: -webkit-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  background: -o-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  background: -ms-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  background: linear-gradient(to right, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f33050', endColorstr='#f64623', GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*------------------------------------------media queries------------------------------------------------*/

@media screen and (max-width: 1280px) {
  .container {
    max-width: 900px;
    padding: 0 20px;
  }
  
  .banner .description {
    width: 50%;
    left: auto;
    position: static;
  }
  
  .banner .design {
    width: 70%;
    left: -130px;
  }

  .banner .banner_title,
  .banner .banner_details {
    padding-left: 15%;
  }

  .platforms .platform_wrapper .platforms_logo {
    width: 130px;
    margin-left: 10px;
  }
  .about .record {
    padding: 20px;
  }
  .clients .client_logo {
    width: 150px;
  }
  .ios_wrapper {
    padding: 0;
  }
  .mockup_image.mockup1 {
    left: -30%;
  }
  .mockup_image.mockup2 {
    right: -25%;
    /*top: 30%;*/
  }
  .ios_description {
    padding-bottom: 110px;
  }
}

@media screen and (max-width: 1140px) {
  .banner .design {
    width: 50%;
    left: -50px;
  }
  .banner_wrapper {
    padding: 355px 0 50px;
  }
  .android_mockups, 
  .android_description {
    width: 50%;
    left: auto;
  }
  .features .feature_card {
    width: 31%;
    max-width: none;
  }
  .mockup_image.mockup1 {
    width: 90%;
  }
  .mockup_image.mockup2 {
    width: 90%;
    right: -10%;
  }
  .ios_description,
  .ios_mockups {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .app_number .value {
    font-size: 73px;
  }
  .banner .design {
    left: auto;
  }
  .design_head {
    font-size: 39px;
  }
  .header .logo {
    width: 25%;
  }
  .navbar .nav_item {
    padding: 10px 5px;
  }
  .platforms .platform_wrapper .platforms_logo {
    width: 29%;
    margin-right: auto;
  }
  .why_us_header .why_head {
    font-size: 135px;
  }
  .feature_card .feature_head {
    font-size: 20px;
  }
  .ios .ios_description .ios_image {
    width: 35%;
  }
  .ios_head {
    padding-top: 40px;
  }

  .growth .growth_head,
  .why_sub_head,
  .ios_head,
  .android_head,
  .products .device .tab_head,
  .about .description .about_head,
  .clients .client_head,
  .contact .contact_head {
    font-size: 35px;
    line-height: 1;
  }
  .growth .description .details,
  .android_details,
  .products .device .details,
  .about .description .details,
  .ios_details,
  .contact .description .details {
    font-size: 15px;
  }
  .about .record .number, .record .num {
    font-size: 50px;
  }
  .about .record {
    font-size: 18px;
  }
  .mockup_image.mockup2 {
    width: 70%;
    right: 19px;
    top: 28%;
  }
  .mockup_image.mockup1 {
    width: 70%;
    left: -12%;
  }
  .clients .client_logo {
    width: 20%;
  }
}

@media screen and (max-width: 769px) {
  body {
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    right: 0;
    transition-duration: 0.5s;
  }
  .navbar-toggler {
    display: block;
    color: #fff;
    background-color: transparent;
    font-size: 35px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  .hide {
    overflow: hidden;
    right: 200px;
    transition-duration: 0.5s;
  }
  .hide:after {
    background-color: #000;
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
  }
  .hide .navbar-toggler .bar:after {
    background-color: #fff;
    transform: rotate(45deg);
    transition-duration: 0.5s;
  }
  .hide .bar.last {
    position: relative;
  }
  .hide .bar.last:after {
    transform: rotate(-45deg);
    transition-duration: 0.5s;
    position: absolute;
    bottom: 0;
  }
  .hide .navbar-toggler .bar.short:after {
    display: none;
    transition-duration: 0s;
  }
  .collapse {
    margin: 0;
    position: absolute;
    z-index: 2;
    top: -40px;
    right: -200px;
    width: 200px;
    height: 100vh;
    background: #fff;
    padding: 0 10px;
  }
  .collapse.show {
    display: block;
  }
  .nav_item .nav_link {
    background: rgba(243,48,80,1);
    background: -moz-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,48,80,1)), color-stop(100%, rgba(246,70,35,1)));
    background: -webkit-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
    background: -o-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
    background: -ms-linear-gradient(left, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
    background: linear-gradient(to right, rgba(243,48,80,1) 0%, rgba(246,70,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f33050', endColorstr='#f64623', GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .app_number .value {
    font-size: 53px;
  }
  .app_number,
  .design_head {
    font-size: 30px;
  }
  .banner .quote {
    font-size: 18px;
  }
  .why_us_header .why_head {
    font-size: 120px;
  }
  .about .record {
    padding: 15px;
  }
  .products {
    padding: 0;
  }
  .products .device_tab {
    padding: 30px;
  }
  .contact .sender_info_wrapper {
    flex-wrap: wrap;
  }
  .sender_info_wrapper .sender_info:first-child {
    margin-right: 0;
  }
  .contact .message .sender_info {
    width: 100%;
  }
  .contact {
    padding-bottom: 200px;
  }
  .mockup_image.mockup2 {
    width: 90%;
    right: -25px;
  }
  .mockup_image.mockup1 {
    width: 90%;
    left: -28%;
  }
  .ios_description {
    padding-right: 31px;
  }
  .products .device .description {
    padding: 0;
  }
  .clients .client_logo {
    width: 26%;
  }
  .clients .client_logo:nth-of-type(5n) {
    border-right: 1px solid #cccccc82;
  }
  .clients .client_logo:nth-of-type(3n)  {
    border-right: none;
  }
  .clients .client_logo:nth-child(1n+11) {
    border-bottom: 1px solid #cccccc82;
  }
  .clients .client_logo:nth-child(1n+13) {
    border-bottom: none;
  }
}

@media screen and (max-width: 640px) {
  .app_number .value {
    font-size: 43px;
  }
  .app_number, .design_head {
    font-size: 25px;
  }
  .banner .quote_btn {
    width: auto;
  }
  .banner .quote {
    font-size: 15px;
  }
  .growth .growth_head, 
  .why_sub_head, 
  .ios_head, .android_head,
  .products .device .tab_head, 
  .about .description .about_head, 
  .clients .client_head, 
  .contact .contact_head {
    font-size: 25px;
  }
  .growth .description .details, 
  .android_details, 
  .products .device .details, 
  .about .description .details, 
  .ios_details, 
  .contact .description .details {
    font-size: 15px;
  }
  .about .record .number, 
  .record .num {
    font-size: 40px;
  }
  .about .record {
    font-size: 13px;
  }
  .contact .contact_wrapper {
    flex-wrap: wrap;
  }
  .contact .description, 
  .contact .message {
    width: 100%;
  }
  .contact {
    padding-bottom: 500px;
  }
  .subscribe_inner .newsletter {
    width: 73%;
  }
  .growth_wrapper {
    flex-direction: column;
  }
  .growth .description, .growth .platforms {
    width: 100%;
  }
  .growth .description {
    order: 2;
    text-align: center;
  }
  .growth_head {
    margin: 0 auto;
    text-align: center;
  }
  .growth .platform_wrapper {
    text-align: center;
    margin: 15px 0;
  }
  .platforms .platform_wrapper .platforms_logo {
    width: 20%;
    margin: 0 15px;
  }
  .why_us_header .why_head {
    font-size: 93px;
  }  
  .why_sub_head {
    bottom: 20px;
  }
  .features .feature_list {
    flex-direction: column;
  }
  .features .feature_card {
    padding: 30px 25px;
  }
  .features .feature_card {
    width: 100%;
    margin-bottom: 25px;
  }
  .android_mockups {
    position: static;
  }
  .android .android_image {
    width: 50%;
  }
  .android_head {
    position: absolute;
    top: -99px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .android_description .quote,
  .products .device .get_started {
    padding: 15px 37px;
  }
  .device_tab .icon {
    font-size: 35px;
  }
  .contact .address, 
  .contact .phone, 
  .contact .mail {
    padding: 5px 0;
  }
  .contact .message {
    margin: 35px 0 0;
  }
  .contact .address, 
  .contact .phone, 
  .contact .mail {
    font-size: 15px;
  }
  .contact .label {
    font-size: 16px;
  }
  .ios {
    margin: 100px 0 200px;
  }
  .mockup_image.mockup1 {
    left: -19%;
  }
  .mockup_image.mockup2 {
    top: 44%;
  }
  @keyframes moveUp {
    0% { top: 100%; }
    100% { top: 44%; }
  }
  .clients .client_head {
    padding-bottom: 25px;
  }
  footer {
    padding-top: 200px;
  }
}

@media screen and (max-width: 500px) {
  .app_number, .design_head {
    font-size: 18px;
  }
  .why_us_header .why_head {
    font-size: 68px;
  }
  .why_sub_head {
    bottom: 15px;
  }
  .why_us {
    padding: 50px 0;
  }
  .ios_wrapper .quote {
    padding: 15px 20px;
  }
  .android_description .quote, 
  .products .device .get_started {
    padding: 15px 14px;
    font-size: 12px;
  }
  .android_description {
    padding-left: 5px;
  }
  .mockup_image.mockup1 {
    width: 100%;
    bottom: 45%;
    left: -11%;
  }
  .mockup_image.mockup2 {
    width: 100%;
    top: 47%;
  }
  @keyframes moveDown {
    0% { bottom: 100%; }
    100% { bottom: 45%; }
  }
  @keyframes moveUp {
    0% { top: 100%; }
    100% { top: 47%; }
  }
  .device_tab .icon {
    font-size: 25px;
  }
  .products .device_wrapper {
    flex-direction: column;
  }
  .products .device .description {
    order: 2;
    width: 100%;
  }
  .products .device .product_image {
    margin: 0 auto;
  }
  .about .record {
    width: 49%;
  }
  .about .record:nth-child(2n) {
    border: none;
  }
  .about .description .details {
    padding: 30px 10px;
  }
  .clients .client_logo {
    width: 50%;
  }
  .subscribe_inner .newsletter {
    width: 85%;
  }
  .clients .client_logo:nth-child(1n+13) {
    border-bottom: 1px solid #cccccc82;
  }
  .clients .client_logo:nth-of-type(3n)  {
    border-right: 1px solid #cccccc82;
  }
  .clients .client_logo:nth-of-type(2n)  {
    border-right: none;
  }
  .clients .client_logo:last-child {
    width: 50%;
    margin-right: auto;
    border-bottom: none;
  }
  .subscribe_head {
    font-size: 25px;
  }
}

@media screen and (max-width: 375px) {  
  .banner_wrapper {
    padding: 300px 0 50px;
  }
  .app_number, .design_head {
    font-size: 15px;
  }
  .design_head {
    margin: 20px 0;
  }
  .app_number .value {
    font-size: 23px;
  }
  .banner .get_quote {
    padding: 8px 0;    
  }
  .banner .quote,
  .growth .description .get_started,
  .ios_wrapper .quote,
  .contact .get_started {
    font-size: 12px;
  }
  .ios_description {
    padding-bottom: 20px;
  }
  .ios_wrapper .quote {
    padding: 15px 10px;
  }
  .mockup_image.mockup2 {
    top: 52%;
  }
  @keyframes moveUp {
    0% { top: 100%; }
    100% { top: 52%; }
  }
  .why_us_header {
    margin-bottom: 60px;
  }
  .why_us_header .why_head {
    font-size: 57px;
  }
  .why_sub_head {
    font-size: 24px;
    bottom: -15px;
  }
  footer {
    padding-top: 150px;
  }
  .copyright {
    line-height: 1.7;
    font-size: 12px;
  }
  .subscribe_head {
    font-size: 18px;
  }
}